{% extends "layouts/main.html" %}

{% set pageName="Your address has been updated" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ 
        govukPanel({
            titleText: pageName
        })
    }}


    <!-- @TODO - flesh out -->
    {% set html %}
        <h2 class="govuk-heading-m">
            We need more information
        </h2>
          <a class="govuk-notification-banner__link" href="/mvp/account/to-do">Complete outstanding questions</a>
    {% endset %}

    {{ 
        govukNotificationBanner({
            html: html
        })
    }}

  </div>
</div>

{% endblock %}
